﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="gallery.aspx.cs" Inherits="gallery" %>

<!DOCTYPE html>





<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Academics | Gallery 2</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="css/animate.min.css">
    <!-- Font-awesome CSS-->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Owl Caousel CSS -->
    <link rel="stylesheet" href="vendor/OwlCarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendor/OwlCarousel/owl.theme.default.min.css">
    <!-- Main Menu CSS -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- nivo slider CSS -->
    <link rel="stylesheet" href="vendor/slider/css/nivo-slider.css" type="text/css" />
    <link rel="stylesheet" href="vendor/slider/css/preview.css" type="text/css" media="screen" />
    <!-- Datetime Picker Style CSS -->
    <link rel="stylesheet" href="css/jquery.datetimepicker.css">
    <!-- Magic popup CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- Switch Style CSS -->
    <link rel="stylesheet" href="css/hover-min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Modernizr Js -->
    <script src="js/modernizr-2.8.3.min.js"></script>

   


</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Add your site or application content here -->
<div id="wrapper">
    <!-- Header Area Start Here -->
    <header>
        <div id="header2" class="header4-area">
            <div class="header-top-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="header-top-left">
                                <div class="logo-area">
                                    <a href="index.html"><img class="img-responsive" src="img/logo-primary.png" alt="logo"></a>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                            <div class="header-top-right">
                                <ul>
                                    <!--<li><i class="fa fa-phone" aria-hidden="true"></i><a href="Tel:+1234567890"> + 123 456 78910 </a></li>
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">info@academics.com</a></li>-->
                                    <li>
      


                                           <a class="login-btn-area" href="login.aspx" id=""><i class="fa fa-lock" aria-hidden="true"></i> Login</a>
                                            <div class="login-form" id="login-form" style="display: none;">
                                                <div class="title-default-left-bold">Login</div>
                                                <form>
                                                    <label>Username or email address *</label>
                                                    <input type="text" placeholder="Name or E-mail" />
                                                    <label>Password *</label>
                                                    <input type="password" placeholder="Password" />
                                                    <label class="check">Lost your password?</label>
                                                    <span><input type="checkbox" name="remember"/>Remember Me</span>
                                                    <button class="default-big-btn" type="submit" value="Login">Login</button>
                                                    <button class="default-big-btn form-cancel" type="submit" value="">Cancel</button>
                                                </form>
                                            </div>
                                    </li>
                                    <li><a href="OnlineApplication.aspx" class="apply-now-btn2">Apply Now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-menu-area bg-primary" id="sticker">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <nav id="desktop-nav">
                                <ul>
                                    <li class="active"><a href="index.html">Home</a></li>
                                    <li><a href="#">About us</a>
                                        <ul>
                                            <li><a href="the-institution.html">The Institution</a></li>
                                            <li><a href="infrastructure.html">Infrastructure</a></li>
                                            <li><a href="vision-mission.html">Vision & Mission</a></li>
                                            <li><a href="Doc/News_Letter_2018_2019.pdf" target="new">News Letter</a></li>
                                            <li><a href="awards.html">Awards</a></li>
                                            <li><a href="events/annualreport.pdf" target="new">Annual Report</a></li>

                                        </ul>
                                    </li>
                                    <li><a href="#">Administration</a>
                                        <ul>
                                            <li><a href="the-founder.html">The Founder</a></li>
                                            <li><a href="management.html">Management</a></li>
                                            <li><a href="principal.html">Principal</a></li>
                                            <li><a href="viceprincipal.html">Vice Principal</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="activities.html">Activities</a></li>
                                    <li>
                                        <a href="#">Academics</a>
                                        <ul>
                                            <li><a href="admission.html">Admission</a></li>
                                            <li><a href="rules.html">Rules</a></li>
                                            <li><a href="events/results.pdf" target="new">Results</a></li>
                                        </ul>
                                    </li>

                                     <li>
                                        <a href="#">School Information</a>
                                        <ul>
                                            <li><a href="school-information.html">General Information</a></li>
                                            <li><a href="staffprofile.html">Staffs Profile</a></li>
                                            <li><a href="students-profile.html">Students Profile</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="transfer-certificates.html" >Transfer Certificate</a>                                       
                                    </li>

                                    <li><a href="gallery.aspx">Gallery</a></li>
                                    <li><a href="contactus.html">Contact us</a></li>

                                    <!--<li><a href="#">About us</a>-->
                                    <!--<ul class="mega-menu-area">-->
                                    <!--<li>-->
                                    <!--<a href="#">The Founder</a>-->
                                    <!--<a href="#">Management</a>-->
                                    <!--<a href="viceprincipal.html">Vice Principal</a>-->
                                    <!--<a href="#">Vision & Mission</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                    <!--<a href="#">Principal</a>-->
                                    <!--<a href="#">Infrastructure</a>-->
                                    <!--<a href="#">Awards</a>-->
                                    <!--<a href="#">Annual Report</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                    <!--<a href="pricing2.html">Pricing Plan 2</a>-->
                                    <!--<a href="shop1.html">Shop 1</a>-->
                                    <!--<a href="shop2.html">Shop 2</a>-->
                                    <!--<a href="single-shop.html">Shop Details</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                    <!--<a href="account.html">Account</a>-->
                                    <!--<a href="registration.html">Registration</a>-->
                                    <!--<a href="faq.html">Faq</a>-->
                                    <!--<a href="404.html">404 Error</a>-->
                                    <!--</li>-->
                                    <!--</ul>-->
                                    <!--</li>-->

                                    <!--<li><a href="#">News</a>-->
                                    <!--<ul>-->
                                    <!--<li class="has-child-menu"><a href="#">News</a>-->
                                    <!--<ul class="thired-level">-->
                                    <!--<li><a href="news1.html">News 1</a></li>-->
                                    <!--<li><a href="news2.html">News 2</a></li>-->
                                    <!--<li><a href="single-news.html">News Details</a></li>-->
                                    <!--</ul>-->
                                    <!--</li>-->
                                    <!--<li class="has-child-menu"><a href="#">Event</a>-->
                                    <!--<ul class="thired-level">-->
                                    <!--<li><a href="event.html">Event</a></li>-->
                                    <!--<li><a href="single-event.html">Event Details</a></li>-->
                                    <!--</ul>-->
                                    <!--</li>-->
                                    <!--</ul>-->
                                    <!--</li>-->
                                    <!--<li><a href="gallery2.html">Admission</a>-->
                                    <!--<ul>-->
                                    <!--<li><a href="gallery1.html">Gallery 1</a></li>-->
                                    <!--<li><a href="gallery2.html">Gallery 2</a></li>-->
                                    <!--</ul>-->
                                    <!--</li>-->
                                    <!--<li><a href="#">Contact</a>-->
                                    <!--<ul>-->
                                    <!--<li><a href="contact1.html">Contact 1</a></li>-->
                                    <!--<li><a href="contact2.html">Contact 2</a></li>-->
                                    <!--</ul>-->
                                    <!--</li>-->
                                </ul>
                            </nav>
                        </div>
                        <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">-->
                        <!--<div class="header-search">-->
                        <!--<form>-->
                        <!--<input type="text" class="search-form" placeholder="Search...." required="">-->
                        <!--<a href="#" class="search-button" id="search-button"><i class="fa fa-search" aria-hidden="true"></i></a>-->
                        <!--</form>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu Area Start -->
        <div class="mobile-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul>
                                    <li class="active"><a href="index.html">Home</a></li>
                                    <li><a href="#">About us</a>
                                        <ul>
                                            <li><a href="the-institution.html">The Institution</a></li>
                                            <li><a href="infrastructure.html">Infrastructure</a></li>
                                            <li><a href="vision-mission.html">Vision & Mission</a></li>
                                            <li><a href="Doc/News_Letter_2018_2019.pdf" target="new">News Letter</a></li>
                                            <li><a href="awards.html">Awards</a></li>
                                            <li><a href="events/annualreport.pdf" target="new">Annual Report</a></li>
 
                                        </ul>
                                    </li>
                                    <li><a href="#">Administration</a>
                                        <ul>
                                            <li><a href="the-founder.html">The Founder</a></li>
                                            <li><a href="management.html">Management</a></li>
                                            <li><a href="principal.html">Principal</a></li>
                                            <li><a href="viceprincipal.html">Vice Principal</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="activities.html">Activities</a></li>
                                   <li>
                                        <a href="#">Academics</a>
                                        <ul>
                                            <li><a href="admission.html">Admission</a></li>
                                            <li><a href="rules.html">Rules</a></li>
                                            <li><a href="events/results.pdf" target="new">Results</a></li>
                                        </ul>
                                    </li>

                                      <li>
                                        <a href="#">School Information</a>
                                        <ul>
                                            <li><a href="school-information.html">General Information</a></li>
                                            <li><a href="staffprofile.html">Staffs Profile</a></li>
                                            <li><a href="students-profile.html">Students Profile</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="transfer-certificates.html" >Transfer Certificate</a>                                       
                                    </li>

                                    <li><a href="gallery.aspx">Gallery</a></li>
                                    <li><a href="contactus.html">Contact us</a></li>

                                    <!--<li><a href="#">About us</a>-->
                                    <!--<ul class="mega-menu-area">-->
                                    <!--<li>-->
                                    <!--<a href="#">The Founder</a>-->
                                    <!--<a href="#">Management</a>-->
                                    <!--<a href="viceprincipal.html">Vice Principal</a>-->
                                    <!--<a href="#">Vision & Mission</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                    <!--<a href="#">Principal</a>-->
                                    <!--<a href="#">Infrastructure</a>-->
                                    <!--<a href="#">Awards</a>-->
                                    <!--<a href="#">Annual Report</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                    <!--<a href="pricing2.html">Pricing Plan 2</a>-->
                                    <!--<a href="shop1.html">Shop 1</a>-->
                                    <!--<a href="shop2.html">Shop 2</a>-->
                                    <!--<a href="single-shop.html">Shop Details</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                    <!--<a href="account.html">Account</a>-->
                                    <!--<a href="registration.html">Registration</a>-->
                                    <!--<a href="faq.html">Faq</a>-->
                                    <!--<a href="404.html">404 Error</a>-->
                                    <!--</li>-->
                                    <!--</ul>-->
                                    <!--</li>-->

                                    <!--<li><a href="#">News</a>-->
                                    <!--<ul>-->
                                    <!--<li class="has-child-menu"><a href="#">News</a>-->
                                    <!--<ul class="thired-level">-->
                                    <!--<li><a href="news1.html">News 1</a></li>-->
                                    <!--<li><a href="news2.html">News 2</a></li>-->
                                    <!--<li><a href="single-news.html">News Details</a></li>-->
                                    <!--</ul>-->
                                    <!--</li>-->
                                    <!--<li class="has-child-menu"><a href="#">Event</a>-->
                                    <!--<ul class="thired-level">-->
                                    <!--<li><a href="event.html">Event</a></li>-->
                                    <!--<li><a href="single-event.html">Event Details</a></li>-->
                                    <!--</ul>-->
                                    <!--</li>-->
                                    <!--</ul>-->
                                    <!--</li>-->
                                    <!--<li><a href="gallery2.html">Admission</a>-->
                                    <!--<ul>-->
                                    <!--<li><a href="gallery1.html">Gallery 1</a></li>-->
                                    <!--<li><a href="gallery2.html">Gallery 2</a></li>-->
                                    <!--</ul>-->
                                    <!--</li>-->
                                    <!--<li><a href="#">Contact</a>-->
                                    <!--<ul>-->
                                    <!--<li><a href="contact1.html">Contact 1</a></li>-->
                                    <!--<li><a href="contact2.html">Contact 2</a></li>-->
                                    <!--</ul>-->
                                    <!--</li>-->
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu Area End -->
    </header>
    <!-- Header Area End Here -->
    <!-- Inner Page Banner Area Start Here -->
    <div class="inner-page-banner-area" style="background-image: url('img/banner/5.jpg');">
        <div class="container">
            <div class="pagination-area">
                <h1>Photo Gallery</h1>
                <ul>
                    <li><a href="#">Home</a> -</li>
                    <li>Gallery</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Inner Page Banner Area End Here -->
    <!-- Gallery Area 2 Start Here -->
    <form runat ="server">
       
    <div class="gallery-area2">
        <div class="container" id="inner-isotope">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="isotop-btn">
                       
                        
                        <asp:LinkButton ID="lb_Library" runat="server"  data-filter=".library" class="current" OnClick="lb_Library_Click" >Library</asp:LinkButton>
                        <asp:LinkButton ID="lb_Classroom" runat="server"  data-filter=".room"  OnClick="lb_Classroom_Click" >Class Room</asp:LinkButton>
                        <asp:LinkButton ID="lb_Auditorium" runat="server"  data-filter=".auditoriam"   OnClick="lb_Auditorium_Click" >Auditorium</asp:LinkButton>
                        <asp:LinkButton ID="lb_Campus" runat="server"  data-filter=".campus"   OnClick="lb_Campus_Click" >Campus</asp:LinkButton>
                        <asp:LinkButton ID="lb_Activities" runat="server"  data-filter=".class"   OnClick="lb_Activities_Click" >Activities</asp:LinkButton>
     
                    </div>
                   
                </div>
                 
            </div>
            <div class="row featuredContainer gallery-wrapper" id="div_gallery" runat="server">

                          

            </div>

        </div>
        
    </div>
             
        </form>
    <!-- Gallery Area 2 End Here -->
    <!-- Footer Area Start Here -->
    <footer>
        <div class="footer-area-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-box">
                            <a href="index.html"><img class="img-responsive" src="img/logo-footer.png" alt="logo"></a>
                            <div class="footer-about">
                                <p class="text-justify" style="font-size: 13px;">TKMCPS was started by Thangal Kunju Musaliar College Trust in the academic year 1997-1998 in commemoration of the birth centenary of its founder, late Jb. A Thangal Kunju Musaliar-the renowned educationalist, industrialist and philanthropist.</p>
                            </div>
                           <%-- <ul class="footer-social">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <!--<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>-->
                                <!--<li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>-->
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>--%>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-box">
                            <h3>Quick Links</h3>
                            <ul class="featured-links">
                                <li>
                                    <ul>
                                        <li><a href="management.html">Management</a></li>
                                        <li><a href="admission.html">Admission</a></li>
                                        <li><a href="the-founder.html">Founder</a></li>
                                        <li><a href="activities.html">Activities</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="events/results.pdf" target="new">Results</a></li>
                                        <li><a href="principal.html">Principal</a></li>
                                        <li><a href="awards.html">Awards</a></li>
                                        <li><a href="rules.html">Rules</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-box">
                            <h3>Information</h3>
                            <ul class="corporate-address">

                                <li><i class="fa fa fa-fire" aria-hidden="true"></i>TKM Centenary Public School, </li>
                                <li><i class="fa fa-university" aria-hidden="true"></i>Karicode, Kollam, Pin : 691005 </li>
                                <li><i class="fa fa-book" aria-hidden="true"></i></li>
                                <li><i class="fa fa-envelope-open-o" aria-hidden="true"></i>tkmcps@gmail.com </li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i><a href="#">+91 474-2715650</a></li>
                            </ul>
                            <!--<div class="newsletter-area">-->
                            <!--<h3>Newsletter</h3>-->
                            <!--<div class="input-group stylish-input-group">-->
                            <!--<input type="text" placeholder="Enter your e-mail here" class="form-control">-->
                            <!--<span class="input-group-addon">-->
                            <!--<button type="submit">-->
                            <!--<i class="fa fa-paper-plane" aria-hidden="true"></i>-->
                            <!--</button>  -->
                            <!--</span>-->
                            <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-box">
                            <h3>Photo Gallery</h3>
                            <ul class="flickr-photos">
                                <li>
                                    <a href="gallery.aspx"><img class="img-responsive" src="img/footer/1.jpg" alt="flickr"></a>
                                </li>
                                <li>
                                    <a href="gallery.aspx"><img class="img-responsive" src="img/footer/2.jpg" alt="flickr"></a>
                                </li>
                                <li>
                                    <a href="gallery.aspx"><img class="img-responsive" src="img/footer/3.jpg" alt="flickr"></a>
                                </li>
                                <li>
                                    <a href="gallery.aspx"><img class="img-responsive" src="img/footer/4.jpg" alt="flickr"></a>
                                </li>
                                <li>
                                    <a href="gallery.aspx"><img class="img-responsive" src="img/footer/5.jpg" alt="flickr"></a>
                                </li>
                                <li>
                                    <a href="gallery.aspx"><img class="img-responsive" src="img/footer/6.jpg" alt="flickr"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-area-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <p>&copy; 2018 TKM Centenary Public School. All Rights Reserved.>
                    </div>
                    <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">-->
                    <!--<ul class="payment-method">-->
                    <!--<li>-->
                    <!--<a href="#"><img alt="payment-method" src="img/payment-method1.jpg"></a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#"><img alt="payment-method" src="img/payment-method2.jpg"></a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#"><img alt="payment-method" src="img/payment-method3.jpg"></a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#"><img alt="payment-method" src="img/payment-method4.jpg"></a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End Here -->
</div>
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<!-- jquery-->
<script src="js/jquery-2.2.4.min.js" type="text/javascript"></script>
<!-- Plugins js -->
<script src="js/plugins.js" type="text/javascript"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<!-- WOW JS -->
<script src="js/wow.min.js"></script>
<!-- Nivo slider js -->
<script src="vendor/slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
<script src="vendor/slider/home.js" type="text/javascript"></script>
<!-- Owl Cauosel JS -->
<script src="vendor/OwlCarousel/owl.carousel.min.js" type="text/javascript"></script>
<!-- Meanmenu Js -->
<script src="js/jquery.meanmenu.min.js" type="text/javascript"></script>
<!-- Srollup js -->
<script src="js/jquery.scrollUp.min.js" type="text/javascript"></script>
<!-- jquery.counterup js -->
<script src="js/jquery.counterup.min.js"></script>
<script src="js/waypoints.min.js"></script>
<!-- Countdown js -->
<script src="js/jquery.countdown.min.js" type="text/javascript"></script>
<!-- Isotope js -->
<script src="js/isotope.pkgd.min.js" type="text/javascript"></script>
<!-- Magic Popup js -->
<script src="js/jquery.magnific-popup.min.js" type="text/javascript"></script>
<!-- Custom Js -->
<script src="js/main.js" type="text/javascript"></script>
</body>

</html>
