﻿@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: myfont;

    src: url("fonts/Neo Sans.ttf") /* EOT file for IE */
}


/*
body{
	margin: 0;
	padding: 0px;
	width: 100%;
	height: auto;
	position: relative;
	background-color: #e9fcd8;
}
#headingbc {
	background-color:#9bcb49;
	float: left;
	height: auto;
	width: 100%;
}
#livebar {
	background-color: #F30;
	float: left;
	height: 35px;
	width: 100%;
	margin-bottom: 0px;
	clear: none;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
	top: 0px;
}
.marqueefont {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #FFF;
	float: none;
	margin: auto;
	clear: both;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;	
}

a {
      text-decoration:none;
   }

.clear{ clear:both;}
.header1 {
	background-image: url(images/bctop.jpg);
	background-repeat: no-repeat;
	height: 527px;;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
  
   
#wrapper{ margin:auto; padding:0px; width:1200px; height:auto; background:#e9fcd8;}
.top{ width:1200px; height:8px; background:url(images/top_bg.jpg) repeat-x;}
.logo{
	float: left;
	  
	width: 325px;
	height: 84px;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	-webkit-animation: fadeInLeft 1s;
	-moz-animation: fadeInLeft 1s;
	-o-animation: fadeInLeft 1s;
	animation: fadeInLeft 1s;
}
@-webkit-keyframes fadeInLeft {
 0% {
 opacity: 0;
 -webkit-transform: translateX(-20px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0);
}
}
 @-moz-keyframes fadeInLeft {
 0% {
 opacity: 0;
 -moz-transform: translateX(-20px);
}
 100% {
 opacity: 1;
 -moz-transform: translateX(0);
}
}
 @-o-keyframes fadeInLeft {
 0% {
 opacity: 0;
 -o-transform: translateX(-20px);
}
 100% {
 opacity: 1;
 -o-transform: translateX(0);
}
}
 @keyframes fadeInLeft {
 0% {
 opacity: 0;
 transform: translateX(-20px);
}
 100% {
 opacity: 1;
 transform: translateX(0);
}
}
.header2 {
	float: left;
	height: 145px;
	width: 1200px;
}

.hotlinks{
	padding: 0px;
	float: right;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.hotlinks ul{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 400px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.hotlinks ul li{
	margin: 0px;
	display: inline;
	border-right: solid 1px #e5781d;
	list-style: none;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
.hotlinks ul li:last-child{ padding-right:0px; border:none;}
.hotlinks ul li a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	padding: 0px;
	text-decoration: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
} 
.hotlinks ul li a:hover{ color:#000;}
.menu_wrapper{

	height: 39px;
	background-color:#930;
}
.menu_wrapper ul{
	padding: 0px;
	margin-top: 18px;
}
.menu_wrapper ul li{
	display: inline;
	list-style: none;
	padding-right: 10px;
}
.menu_wrapper ul li:last-child{ padding-right:0px;}
.menu_wrapper ul li a{ 
font-family:'myFont', Verdana, Geneva, sans-serif; font-size:14px; color:#000; text-decoration:none;}
.menu_wrapper ul li a:hover{ color:#ffb157;}
.Banner_wrapper{
	margin:0px;
	padding: 0px;
	float: left;
	width: 1200px;
	height: 301px;
}
.flash{
	position: absolute;
	border: solid 2px #FFFFFF;
	margin-left: 143px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	height:323px;
}
.content_wrapper{
	float: left;
	margin: 0px;
	padding: 0px;
	width: 1200px;
	height: 75px;
}
.content_wrapper ul{
	margin: 0px;
	float: left;
	padding-top: 48px;

	padding-left: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.content_wrapper ul li{
	display: inline;
	list-style: none;
	padding-right: 18px;
	border-right: solid 1px #393939;
	padding-left: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.content_wrapper ul li:last-child{ border:none;}
.content_wrapper ul li a{ font-family:'myFont', Verdana, Geneva, sans-serif; font-size:14px; color:#000; text-decoration:none;}
.content_wrapper ul li a:hover{color:#fff;}
.home_content{ margin:0px; padding:0px; float:left;}
.home_content table{ padding-top:10px;}
.home_content table tr td h7{ padding-left:30px; font-family:'myFont', Verdana, Geneva, sans-serif; font-size:24px; color:#1a0000;}
 
.welcome{ width:719px;height:441px; background:#fff; margin:0px 0px 0px 30px; border: 1px solid #ccc;
margin-top:10px;}
.welcome p{ padding-left:20px; padding-top:25px; font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#333; text-align:justify; padding-right:10px; line-height:25px;}
.news{width:382px; height:194px; background:#2f5806; margin:0px 0px 0px 30px; }
.news p{ padding-left:20px; padding-top:5px; font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#fff; text-align:justify; padding-right:10px; padding-bottom:60px;}
.video{width:382px; height:194px; background:#2f5806; margin:0px 0px 0px 30px; }
.viewmore{ width:90px; height:27px; background:#1bb9ec; float:right; padding:0px 0px 0px 0px; margin:0px 20px 0px 0px; -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;}
	
	.readmore{ width:80px; height:20px; float:right; padding:0px 0px 0px 0px; margin:0px 20px 0px 0px;  }
	
	
	.viewmore h5{ font-family: Verdana, Geneva, sans-serif; font-size:11px; color:#FFFFFF; margin:0px; padding:0px; text-align:center; padding-top:3px;}
		.readmore h5{ font-family: Verdana, Geneva, sans-serif; font-size:12px; color:#e5781d; margin:0px; padding:0px; text-align:center; padding-top:1px; text-decoration:none; font-weight:normal;}
.readmore h5:hover{text-decoration:none; color:#14AA2A; }		
.readmore a{ text-decoration:none;}


	.takeMeto{ margin:68px 100px 0px 0px; padding:0px; background: url(images/takeme_bg.jpg); repeat-x; width:240px;; height:205px; float:right; -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 12px;}
	
	.latestNews{ margin:20px 0px 0px 30px; padding:0px; float:left; width:221px;}
	.marq{ margin:35px 20px 0px 0px; padding:10px 0px 0px 0px; width:910px; float:right; background:#878787; font-family:Verdana, Geneva, sans-serif; font-size:12px; height:30px; text-align:center; color:#fff;} 
	.marquee{ }
	
	.leftDiv{ padding:0px; margin:30px 0px 0px 34px; float:left; width:513px; height:450px; }
	.leftDiv h7{ font-family:'myFont', Verdana, Geneva, sans-serif; font-size:20px; color:#14AA2A; padding:0px 10px 0px 10px;}
	.rightDiv{ padding:0px; margin:30px 30px 0px 110px; float:right; width:513px; height:450px;}
	.rightDiv h7{
	font-family: 'myFont', Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: #14AA2A;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
	
	
	.leftDiv p{ font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#333; text-align:justify; padding:0px 10px 0px 10px; }
	.rightDiv p{ font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#333; text-align:justify; padding:0px 10px 0px 10px;}
	
	


	.title{
	background: #9bcb49;
	height: 34px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 8px;
	padding-bottom: 6px;
	text-indent:40px;
}
	.title h7{ font-family:'myFont', Verdana, Geneva, sans-serif; font-size:24px; color:#200603;}
.founder_content{ margin:0px; padding:0px; float:left;}
.founder_content table{ padding-top:40px; width:1140px; padding-left:30px;}
.founder_content table tr td{ vertical-align:top; padding-right:20px;}
.founder_content table tr td h7{ padding-left:0px; font-family:NeoSans, Verdana, Geneva, sans-serif; font-size:20px; color:#1a0000;}
.founder_content table tr td p{ font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#42433f; text-align:justify; line-height:25px;}



	footer{
	margin-top:-4px;
	padding: 0px;

	height: 100px;
	width: 100%;
	background-color:#013f67;
	
}
.footer1 {
	height: 90px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
#footercopy {
font-family: 'myFont', Verdana, Geneva, sans-serif;
font-size: 12px;
color: #9a9d9f;
float: left;
height: 20px;
width: 400px;
margin-top: 42px;
margin-left:40px;
}
#footer2 {
font-family: 'myFont', Verdana, Geneva, sans-serif;
font-size: 12px;
color: #9a9d9f;
float: right;
height: 20px;
width: 300px;
margin-top: 42px;
margin-right:40px;
}
#footer2 ul{ margin:0px; padding:0px; float:right;}
#footer2 ul li{ display:inline; list-style:none;  padding:5px;}
#footer2 ul li a{ text-decoration:none;font-family:'myFont', Verdana, Geneva, sans-serif; font-size:12px; color:#9a9d9f;}
#footer2 ul li a:hover{ color:#9bcb49;}
@media screen and (max-width: 1200px) 
{
	footer{
	margin-top:-3px;
	padding: 0px;
	background: url(images/footer_bg.jpg) repeat-x;
	height: 100px;
	width: 1200px;	
}
}
		*/

/*-------------Admission----------------*/
.addmission_content{ margin:0px; padding:0px; float:left;}
.admpara{ margin:40px 40px 0px 40px; padding:0px 0px 0px 20px; border-left: solid 7px #9bcb49;}
.admpara p{ font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#42433f; text-align:justify; line-height:25px;}
.addmission_content img{ margin:30px 0px 0px 50px}

/*--------------Rules------------*/
.rules_content{ margin:0px; padding:0px; float:left;}
.rules_content table{ margin:30px 50px 0px 40px;}
.rules_content table tr td{ margin:0px; padding-right:20px;}
.rules_content table tr td p{font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#42433f; text-align:justify; line-height:25px;}

/*-------------------Gallery------------------*/
.gallery_content{ margin:0px; padding:0px; float:left;}
.gallery_content embed{ margin-top:0px;}

/*------------------Students Profile--------------------*/
.student_Profile{ margin:0px; padding:0px; float:left; background:url(images/profileBg.png) no-repeat; height:734px;}
.student_Profile table{ margin:40px 30px 0px 40px; padding:0px; float:left;}
.student_Profile table tr td{ vertical-align:top; padding:0px 20px 0px 0px}
.student_Profile table tr td h7{ font-family:'myFont', Verdana, Geneva, sans-serif; font-size:20px; color:#525050;}
.student_Profile table tr td img{ border: solid 1px #525050;}
.student_Profile table tr td p{font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#42433f; text-align:justify; line-height:25px;}
.student_Profile_text{margin:40px 30px 0px 40px; padding:0px; float:left;}
.student_Profile_text h7{font-family:'myFont', Verdana, Geneva, sans-serif; font-size:20px; color:#525050;}
.student_Profile_text p{font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#42433f; text-align:justify; line-height:25px;}

/*------------------------Staff--------------------*/
.staff_Profile{margin:0px 0px 0px 0px; padding:0px; float:left; background:url(images/profileBg.png) no-repeat; height:734px;}
.staff_Profile img{ margin:40px 30px 0px 40px; padding:0px; border: solid 1px #525050;}
/*.staff_Profile table{margin:40px 30px 0px 40px; padding:0px; float:left;}*/
.staff_Profile table{margin:0px 30px 0px 0px; padding:0px; float:left;}
.staff_Profile table tr td{ padding:0px 20px 0px 0px; vertical-align:middle;}
.staff_Profile table tr td img{ border: solid 1px #525050;}
.staff_Profile table tr td {font-family:'myFont', Verdana, Geneva, sans-serif; font-size:20px; color:#525050;}

.staff_Profile p{font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#42433f; text-align:justify; line-height:25px; padding:40px 30px 0px 40px;}
.stff{ margin:-150px 0px 0px 0px; padding:0px; float:left;}
.stff h7 a{font-family:'myFont', Verdana, Geneva, sans-serif; font-size:20px; color:#4fb8ee; float:right; padding-right:50px; padding-bottom:30px; text-decoration:none;}

/*------------------Parents Profile------------------*/
.parent_Profile{margin:0px 0px 0px 0px; padding:0px; float:left; background:url(images/profileBg.png) no-repeat; height:auto;}
.parent_Profile table{ margin:40px 30px 0px 40px; padding:0px; float:left;}
.parent_Profile table tr td{ padding:0px 20px 0px 0px; vertical-align:middle;}
.parent_Profile table tr td img{ border: solid 1px #525050;}
.parent_Profile table tr td h7{font-family:'myFont', Verdana, Geneva, sans-serif; font-size:20px; color:#525050;}
.parentText{ margin:40px 30px 0px 40px;}
.parentText table{ margin:30px 0px 50px 0px; padding:0px;}

.parentText table tr td{ margin:0px; padding:0px; vertical-align:top; padding-right:20px;}

.parentText table tr td h7{font-family:'myFont', Verdana, Geneva, sans-serif; font-size:16px; color:#525050; line-height:25px; }
.parentText table tr td img{ border:none; margin:7px 0px 0px 0px}
.parentText table tr td p{font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#42433f; text-align:justify; line-height:25px;}
/*----------------Infrastructure-----------------*/
.infrastructure_content{margin:0px 0px 0px 0px; padding:0px; float:left; height:auto;}
.infrastructure_content p{font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#42433f; text-align:justify; line-height:25px; margin:30px 40px 0px 40px}
.infrastructure_content p:last-child{ margin:0px 0px 0px 40px;}
.infrastructure_content table{ margin:20px 40px 40px 40px; }
.infrastructure_content table tr >td { padding-bottom:40px;}
.infrastructure_content table tr >td:last-child{ padding:0px;}
.infrastructure_content table tr td h7{font-family:'myFont', Verdana, Geneva, sans-serif; font-size:16px; color:#525050; line-height:25px; padding:0px 0px 0px 40px; }
.infrastructure_content table tr td img{ border:solid 1px #999999; }
.infrastructure_content table tr td{ vertical-align:top;}
/*-----------------CPS Readmore----------------------*/
.readmore_content{margin:0px 0px 0px 0px; padding:0px; float:left; height:auto;}
.readmore_content table{ margin:40px 40px 30px 40px;}
.readmore_content table tr td{ padding:0px 20px 0px 0px; vertical-align:top;}
.readmore_content table tr td p{font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#42433f; text-align:justify; line-height:25px;}
.readmore_content table tr td img{border:solid 1px #999999;}
.readmore_content table tr td h7{font-family:'myFont', Verdana, Geneva, sans-serif; font-size:16px; color:#525050;}
/*---------------Activities---------------------*/
.activities_content{
	margin: 0px;
	padding: 0px;
	height: auto;
	float: left;
}
.activities_content table{margin:40px 40px 30px 40px;}

.activities_content table tr td{padding:0px 20px 0px 0px; vertical-align:top;}
.activities_content table tr td h7{font-family:'myFont', Verdana, Geneva, sans-serif; font-size:16px; color:#525050;}
.activities_content table tr td p{font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#42433f; text-align:justify; line-height:25px;}

/*------------Contact Us------------------*/

.contact_Us{margin:0px 0px 0px 0px; padding:0px; float:left; height:auto; }

.contact_text{
	margin: 0px;
	padding: 0px;
	height: 315px;
	float: left;
	background-image: url(images/contactus_bg.jpg);
	background-repeat: no-repeat;
	width: 1200px;
	background-position: right center;
}
.contact_text p{font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#42433f; padding:20px 40px 0px 40px}

/*--------------Kids Read More------------------*/

.kids_content{margin:0px 0px 0px 0px; padding:0px; float:left; height:auto;}
.kids_content table{margin:30px 40px 30px 40px;}
.kids_content table tr td{padding:0px 20px 0px 0px; vertical-align:top;}
.kids_content table tr td p{font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#42433f; text-align:justify; line-height:25px; }
.kids_text{ background:#bed65b; margin:10px 40px 0px 40px;}
.kids_text h7{font-family:'myFont', Verdana, Geneva, sans-serif; font-size:16px; color:#525050; padding:0px 0px 0px 30px;}
.kidsBecome table{ margin:20px 0px 30px 70px}
.kidsBecome table tr td{ vertical-align:middle; }
.kidsBecome table tr td img{ border:none;}
.kidsBecome table tr td{font-family:'myFont', Verdana, Geneva, sans-serif; font-size:16px; color:#525050;}
.kidsBecome table tr >td { padding-bottom:20px;}

/*---------Exibtn---------------*/
.exibtn_content{margin:0px 0px 0px 0px; padding:0px; float:left; height:auto;}
.exibtn_content table{margin:40px 40px 30px 40px;}
.exibtn_content table tr td{padding:0px 20px 0px 0px; vertical-align:top;}
.exibtn_content table tr td h7{font-family:'myFont', Verdana, Geneva, sans-serif; font-size:16px; color:#525050;}
.exibtn_content table tr td img{border:solid 1px #999999;}
.exibtn_content table tr td p{font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#42433f; text-align:justify; line-height:25px;}
.exibtn_content h6{font-family:'myFont', Verdana, Geneva, sans-serif; font-size:12px; color:#525050; margin:0px 0px 0px 40px }
/*-----------------Magazine------------------*/
.magazine_content{
	padding: 0px;
	float: left;
	height: auto;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 350px;
}
.magazine_content table{margin:30px 0px 30px 0px;}

.bottom_button{ margin:0px 0px 0px 0px; padding:0px; float:left;}
.bottom_button table{margin:40px 0px 30px 70px; padding:0px;}
.bottom_button table tr>td{ padding-bottom:20px;}
.bottom_button table tr td{  padding-right:15px;}
.bottom_button table tr td a{font-family:Geneva, Arial, Helvetica, sans-serif; font-size:15px; color:#666666; text-decoration:none; color:#666666;}

#galleryimages {
	background-color: #FFF;
	height: 412px;
	width: 620px;
	float:left;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left:280px;
}
#galleryimagestour {
	background-color: #FFF;
	height: 412px;
	width: 620px;
	float:left;
	margin-bottom: 50px;
	margin-left:280px;
}
 #staffgallery {
	height: 367px;
	width: 1100px;
	float: left;
	margin-left: 50px;
}
#staffdetailslink {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #FF8F00;
	float: left;
	height: 35px;
	width: 1100px;
	text-align: right;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 12px;
}
#teaching{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #9bcb49;
	float: left;
	height: 35px;
	width: 1100px;
	text-align: left;
	margin-left: 50px;
}
#staffdetailslink a{
color: #FF8F00;
text-decoration:none;
}
#staffdetailslink a:hover{
color: #FF8F00;
text-decoration:underline;
}
.pricy{
	margin: 0px;
	padding: 0px;
	width: 1200px;
	height: 728px;
	background-color: #FFFFFF;
}
.pricy_name{ margin:0px; padding:0px; float:left;}
.pricy_photo{
	padding: 0px;
	float: right;
	margin-top: 110px;
	margin-right: 300px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.pricy_photo h5{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:16px; color:#333333; padding:0px 0px 0px 200px;}
.pricy_text{
	margin: 0px;
	padding: 10px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px; /* Old Firefox */
	text-align: center;
	background-color: #E1E8ED;
}
#activites100 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #333;
	float: left;
	height: auto;
	min-height: 700px;
	width: 1100px;
	margin-right: 50px;
	margin-left: 50px;
}
#row1 {
	min-height: 220px;
	height: auto;
	width: 1100px;
	float: left;
	margin-top: 20px;
}
#row2 {
	min-height: 200px;
	height: auto;
	width: 300px;
	float: left;
	color: #666;
	font-size: 14px;
	margin-top:22px;
}
.nss1 {
	float: left;
	height: 147px;
	width: 281px;
}

#row3 h3{
font-size: 15px;
font-weight:normal;
}
#row3 {
	min-height: 220px;
	height: auto;
	width: 750px;
	margin-left: 50px;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
font-size: 13px;

color: #42433f;
text-align: justify;
line-height: 25px;
}
header
{
	width:100%;
	height:auto;
	float:left;
	background-image:url(images/topbc.jpg);
	background-repeat:repeat-x;
}
	
#leftcontent0 {
	float: left;
	height: 195px;
	width: 513px;
background-color:#fff;
    border: 1px solid #ccc;
	box-sizing:border-box;
 padding-top:10px;
 margin-top:-5px;
 color:#333;
     border-top: 10px solid #004c7d;
}

.ceremony
{
font-family: Verdana, Geneva, sans-serif;
font-size: 13px;
color: #42433f;
text-align: justify;
line-height: 25px;
}
#marginadjust1 {
	float: left;
	height: 120px;
	width: 1200px;
}
.scroll-to-top {
			position: fixed;
			bottom: 23px;
			right: 0px;
			background:url(images/scroll-to-top.png) no-repeat;
			width:55px;
			height: 55px;
			padding-right: 1em;
			display: none;
			z-index: 999;
			cursor:pointer;
		}





.menuu ul {
  text-align: left;
  display: inline;
  margin: 0;
  float:right;
  padding-top:44px;
  /*padding: 15px 4px 17px 0;*/
  list-style: none;
}
.menuu ul li a {
	color:#666666;
}
.menuu ul li a:hover {
	color:#000;
}
.menuu ul li{
  font: 12px/18px  Verdana, Geneva, sans-serif;
  display: inline-block;
  margin-right: 0px;
  position: relative;
  padding: 0px 10px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  border-right: solid 1px #e5781d;
}

.menuu ul li:last-child{ padding-right:0px; border:none;}
.menuu ul li:hover {
 
  color: #fff;
}
.menuu ul li ul {
  padding: 0;
  position: absolute;
  top: 18px;
  font: 12px/18px  Verdana, Geneva, sans-serif;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}


.menuu ul li ul li { 
  background: #e9e9e9; 
  display: block; 
  color: #fff;
  padding: 10px 10px;
  border:none;
  border-bottom:1px solid #e5781d;
}

.menuu ul li ul li:hover { background: #e5781d; color: #fff; }
.menuu ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}





.iconheader{
	position: relative;
    float: right;
    width: 115px;
    top: 18px;
    right: 12px;
	}


.admpara{
	width:910px;
	position:relative;
	left:80px;}




.menuu3{
	/*margin-top:40px; Anee*/
	margin-top:115px;
	}


.menuu3 ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding-top:44px;
  /*padding: 15px 4px 17px 0;*/
  list-style: none;
  padding-left: 0px;
}
.menuu3 ul li a {
	color:#000;
	
}
.menuu3 ul li a:hover {
	color:#000;
}
.menuu3 ul li{
  font: 13px/18px  Verdana, Geneva, sans-serif;
  display: inline-block;
  margin-right: 0px;
  position: relative;
  padding: 0px 15px;
 /* background: #fff; Anee*/
  /*text-transform: uppercase !important;*/
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  border-right: solid 1px #3c3c3c;
}

.menuu3 ul li:last-child{ padding-right:0px; border:none;}
.menuu3 ul li:hover {
 
  color: #fff;
}
.menuu3 ul li ul {
  padding: 0;
  position: absolute;
  top: 18px;
  font: 12px/18px  Verdana, Geneva, sans-serif;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}


.menuu3 ul li ul li { 
  background: #e9e9e9; 
  display: block;
  z-index:999999; 
  color: #fff;
  padding: 10px 10px;
  border:none;
  border-bottom:1px solid #689d35;
}

.menuu3 ul li ul li:hover { background: #689d35; color: #fff; }
.menuu3 ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.formstyle{
	width:1000px;
	margin:0 auto;
	background-color:#e3e3e3;
	padding-top:10px;}





.form-style-1 {
    margin:10px auto;
    max-width: 500px;
    padding: 0px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 18px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 10px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #74ab16;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4d7802;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}